* {
  padding: 0;
  margin: 0;
  border: 0;
  font: normal 12px Arial, Helvetica, sans-serif;
}

html {
  overflow: hidden;
  box-sizing: border-box;
  background-color: #2E3440;
}

body {
    color: #FFFFFF;
}

table ,td, tr{
  border-collapse:collapse;
  border: 1px solid;
  vertical-align: center;
  text-align: right;
  padding : 3;
}
div {
  overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}
.ipt {
	padding: 0 3px;
     border-radius: 3px;
     margin: 1px;
}


.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	padding: 0 3px;
	text-decoration: none;
	margin: 1px;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
