* {
	padding: 0;
	margin: 0;
	border: 0;
	font: normal 12px Arial, Helvetica, sans-serif;
}

html {
	overflow: hidden;
	box-sizing: border-box;
	background-color: #2E3440;
}

body {
	color: #FFFFFF;
}

.skilllog, .stastics{
	border-collapse:collapse;
	border: 1px solid;
	vertical-align: center;
	text-align: right;
}

.skilllog th, .stastics th{
	background-color:#B7950B;
}

.skilllog td, .skilllog th, .stastics td,.stastics th{
	border: 1px solid;
	vertical-align: center;
	padding : 4px;
}

table ,td, tr{
	border-collapse:collapse;
	border: 1px solid;
	vertical-align: center;
	text-align: right;
	padding : 2;
}

div {
	overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

img {
	width: 17px;
	height: 17px;
}

.enraged {
	content:url("./icons/enraged.png")
}

.ipt {
	padding: 0 3px;
     border-radius: 3px;
     margin: 1px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #577080;
}

/* Style the buttons inside the tab */
.tab button {
	border-radius: 0px;
     font-family: Arial;
     color: #ffffff;
     font-size: 10px;
     background: #577080;
  	padding: 1px 10px 1px 10px;
     text-decoration: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background: #3cb0fd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #3cb0fd;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	padding: 0 3px;
	text-decoration: none;
	margin: 1px;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.btn:active {
	background: #3c00fd;
}
