* {
	padding: 0;
	margin: 0;
	border: 0;
	font: normal 12px Arial, Helvetica, sans-serif;
}

html {
	overflow: hidden;
	box-sizing: border-box;
	background-color: #2E3440;
}

body {
	color: #FFFFFF;
}

table ,td, tr{
	border-collapse:collapse;
	border: 1px solid;
	vertical-align: center;
	text-align: right;
	padding : 3;
}
div {
	overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
}
img {
	width: 17px;
	height: 17px;
}

.enraged {
	content:url("./icons/enraged.png")
}

.class0 {
	content:url("./class-icons/warrior.png")
}
.class1 {
	content:url("./class-icons/lancer.png")
}
.class2 {
	content:url("./class-icons/slayer.png")
}
.class3 {
	content:url("./class-icons/berserker.png")
}
.class4 {
	content:url("./class-icons/sorcerer.png")
}
.class5 {
	content:url("./class-icons/archer.png")
}
.class6 {
	content:url("./class-icons/priest.png")
}
.class7 {
	content:url("./class-icons/mystic.png")
}
.class8 {
	content:url("./class-icons/reaper.png")
}
.class9 {
	content:url("./class-icons/gunner.png")
}
.class10 {
	content:url("./class-icons/brawler.png")
}
.class11 {
	content:url("./class-icons/ninja.png")
}
.class12 {
	content:url("./class-icons/valkyrie.png")
}

.class13 {
	content:url("./class-icons/common.png")
}

.ipt {
	padding: 0 3px;
     border-radius: 3px;
     margin: 1px;
}

.tab {
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0px;
     font-family: Arial;
     color: #ffffff;
     font-size: 10px;
     background: #577080;
  	padding: 0px 20px 0px 20px;
     text-decoration: none;
}

.tab:hover {
	background: #3cb0fd;
     background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
     background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
     background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
     text-decoration: none;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	padding: 0 3px;
	text-decoration: none;
	margin: 1px;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
